
<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
<nav class="navbar-header mat-primary">


  <a mat-button class="docs-button" aria-label="Angular Material">
    <img id="icon" src="assets/images/snowglobe.png" width="32" height="32" style= 'background-color: red'>
    <!--<img class="docs-angular-logo"-->
         <!--src="../../../assets/img/homepage/angular-white-transparent.svg"-->
         <!--alt="angular">-->
    <span>Snowglobe</span>
  </a>
  <!--<a mat-button class="docs-navbar-hide-small docs-button"-->
     <!--*ngFor="let key of sectionKeys"-->
     <!--[routerLink]="key">{{sections[key]}}</a>-->
  <!--<a mat-button class="docs-navbar-hide-small docs-button" routerLink="guides">Guides</a>-->
  <div class="flex-spacer"></div>

</nav>
<!--<nav class="docs-navbar docs-navbar-show-small">-->
  <!--<a mat-button class="docs-navbar-link"-->
     <!--*ngFor="let key of sectionKeys"-->
     <!--[routerLink]="key">{{sections[key]}}</a>-->
  <!--<a mat-button class="docs-navbar-link" routerLink="guides">Guides</a>-->
<!--</nav>-->
